---
layout: default
title: Crash handler
robotsNoIndex: true
---
		<div class="container_grey">
			<div class="wrap_content contentpage">
		<h1>Crash handler</h1>
        <p>TortoiseGit uses an automatic crash reporter which is based on the crash handler from <a href="https://www.drdump.com" target="_blank">drdump.com</a>.</p>
        <h2>DrDump</h2>
        <p>This is
        not just a client side handler, but offers automatic
        analysis on the server side as well.
        All reports that are caused by the same crash are
        automatically grouped together, so we only have
        to analyze the best dump file of a crash instead of
        every single one. Without this, there's no way we
        could handle all the reports we now get!
        </p>
        <p><img src="reporter.png" alt="crash detected" width="346" height="189"></p>
        <p><img src="upload.png" alt="upload crash report" width="348" height="189"></p>
        <p>
        Also instead of only sending a
        <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/ms680369.aspx" target="_blank">minidump</a>,
        it can send us a full dump if the crash hasn't been
        previously reported. We also can ask for a full dump
        in case the minidump we have does not provide enough
        information to fix the problem.
        </p>
        <p>
        Another nice feature is that after you've sent
        the crash report and the problem you're experiencing
        has already been fixed, you're automatically forwarded
        to the corresponding page in our issue tracker.
        There you can find out more about your problem and
        decide for yourself if you want to download a
        <a href="//download.tortoisegit.org/tgit/previews/">preview release</a> or not.
        </p>
        <p>
        <a href="https://www.drdump.com" target="_blank">drdump.com</a> is available for
        free for open source projects. Pricing for commercial
        projects is shown <a href="https://www.drdump.com/Pricing.aspx" target="_blank">here</a>. If you want
        to find out more about how this works, there is a
        nice <a href="https://www.drdump.com/Demo/Demo.aspx" target="_blank">video</a> available that explains
        the basics, a <a href="https://www.drdump.com/Demo/MiniDumpWriteDump.aspx">more detailed
        description</a> and a tutorial on how to <a href="https://www.drdump.com/Integration.aspx" target="_blank">integrate</a> it
        into your own application.
        </p>

        <h2>Always send the reports</h2>
        <p>
        With so many crash reports we get, we simply don't
        have the time to analyze every single one of them and
        that's why we rely on the grouping of the reports
        on <a href="https://www.drdump.com" target="_blank">drdump.com</a>. Every sent
        report is first automatically analyzed and if the
        same crash was already reported before moved to
        the corresponding problem. That problem then has
        its crash count increased.
        </p>
        <p>
        As you can imagine, we try to fix the problems with
        the highest crash count first. If you encounter a
        crash, then please send the report. It will increase
        the crash count of the problem and therefore also
        increase the priority for us to fix it.
        </p>
        <p><img src="drdump.png" alt="drdump.com analysis view" width="558" height="317"></p>
        <p>
        Even if you've sent the report before, please send
        it again if the crash happens again. Because it might
        not be the same problem even if it appears to be.
        And if it is, then it will increase the priority of the problem.
        </p>
			</div>
		</div>
