---
layout: download-version
version: 2.6.0.0
versionshort: 2.6.0
releasedate: 17-Feb-2018 16:55
operatingsystem: Windows 7/8/8.1/10
langs:
 - bg       :  52
 - ca       :  99
 - zh_CN    : 100
 - zh_TW    : 100
 - cs       :  94
 - da       :  44
 - nl       :  89
 - fi       :  45
 - fr       :  98
 - de       : 100
 - el       :  49
 - hu       :  51
 - id       :  45
 - it       :  67
 - ja       :  99
 - ko       :  86
 - oc       :  43
 - fa       :  50
 - pl       :  76
 - pt_BR    :  98
 - pt_PT    :  50
 - ro       :  84
 - ru       :  99
 - sr@latin :  50
 - sk       :  62
 - es       : 100
 - sv       :  87
 - tr       :  63
 - uk       :  69
 - vi       :  51
versionhint2: <h3>Context menu and overlays in 32-bit applications on 64-bit Windows</h3><svg style="float:left; margin-right:10px;" height="2.5em" version="1.0" viewBox="0 0 42.525 42.525" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-3.0355 -.1415)"><path d="m44.555 21.312c0 11.111-9.0071 20.118-20.118 20.118s-20.118-9.0071-20.118-20.118c-1e-7 -11.111 9.0071-20.118 20.118-20.118s20.118 9.0071 20.118 20.118z" fill="#4b8eb4" stroke="#acf" stroke-linecap="round" stroke-linejoin="round" stroke-width=".91445"/><path d="m26.664 31.947c0 1.2722-1.0313 2.3034-2.3034 2.3034s-2.3034-1.0313-2.3034-2.3034c0-1.2722 1.0313-2.3034 2.3034-2.3034s2.3034 1.0313 2.3034 2.3034z" fill="#fff"/><g transform="translate(-.058594 .58594)" fill="#fff" aria-label="!"><path d="m22.452 23.013-0.58594-8.7708c-0.10986-1.709-0.1648-2.9358-0.1648-3.6804 0-1.0132 0.26245-1.8005 0.78735-2.3621 0.53711-0.57373 1.239-0.8606 2.1057-0.8606 0.83008 0 1.4294 0.36621 1.886 0.87891 0.37135 0.48314 0.60528 0.86933 0.72144 2.4573 0.05877 0.80352 0.0012 1.6821-0.11352 3.4937l-0.7727 8.8806c-0.08545 1.0742-0.26856 1.8982-0.54932 2.4719-0.28076 0.57373-0.74463 0.8606-1.3916 0.8606-0.65918 0-1.1169-0.27466-1.3733-0.82398-0.25635-0.56152-0.43945-1.4099-0.54932-2.5452z" fill="#fff" stroke-width=".9375"/></g></g></svg><div style="margin-left:50px"><p>On x64 versions of Windows, the TortoiseGit context menu and overlays won't show in 32-bit applications (e.g., in file open-save dialogs) until you install the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=52685" target="_blank">2015 C++-runtime for x86</a> (select the <em>vc_redist.x86.exe</em> file for download).</p><p>Please note, however, that this only applies to 32-bit applications on x64 OS. The Windows Explorer is not affected.</p></div>
files:
 - file: TortoiseGit-2.6.0.0-32bit.msi
   date: 17-Feb-2018 16:55
   size: 14475264
 - file: TortoiseGit-2.6.0.0-32bit.msi.rsa.asc
   date: 17-Feb-2018 16:55
   size: 836
 - file: TortoiseGit-2.6.0.0-64bit.msi
   date: 17-Feb-2018 16:58
   size: 16814080
 - file: TortoiseGit-2.6.0.0-64bit.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-DebugSymbols-2.6.0.0.7z
   date: 17-Feb-2018 17:00
   size: 40198006
 - file: TortoiseGit-DebugSymbols-2.6.0.0.7z.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguageDlls-2.6.0.0-32bit.7z
   date: 17-Feb-2018 17:00
   size: 959234
 - file: TortoiseGit-LanguageDlls-2.6.0.0-32bit.7z.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguageDlls-2.6.0.0-64bit.7z
   date: 17-Feb-2018 17:00
   size: 1004534
 - file: TortoiseGit-LanguageDlls-2.6.0.0-64bit.7z.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-bg.msi
   date: 17-Feb-2018 16:56
   size: 1392640
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-bg.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ca.msi
   date: 17-Feb-2018 16:56
   size: 1679360
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ca.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-cs.msi
   date: 17-Feb-2018 16:56
   size: 1744896
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-cs.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-da.msi
   date: 17-Feb-2018 16:56
   size: 1773568
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-da.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-de.msi
   date: 17-Feb-2018 16:56
   size: 4190208
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-de.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-el.msi
   date: 17-Feb-2018 16:56
   size: 3002368
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-el.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-es.msi
   date: 17-Feb-2018 16:56
   size: 1417216
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-es.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-fa.msi
   date: 17-Feb-2018 16:56
   size: 1171456
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-fa.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-fi.msi
   date: 17-Feb-2018 16:56
   size: 1171456
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-fi.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-fr.msi
   date: 17-Feb-2018 16:56
   size: 1466368
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-fr.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-hu.msi
   date: 17-Feb-2018 16:56
   size: 1880064
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-hu.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-id.msi
   date: 17-Feb-2018 16:56
   size: 1171456
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-id.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-it.msi
   date: 17-Feb-2018 16:56
   size: 1486848
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-it.msi.rsa.asc
   date: 17-Feb-2018 16:56
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ja.msi
   date: 17-Feb-2018 16:57
   size: 1167360
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ja.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ko.msi
   date: 17-Feb-2018 16:57
   size: 1163264
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ko.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-nl.msi
   date: 17-Feb-2018 16:57
   size: 1777664
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-nl.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-oc.msi
   date: 17-Feb-2018 16:57
   size: 1335296
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-oc.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-pl.msi
   date: 17-Feb-2018 16:57
   size: 2228224
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-pl.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-pt_BR.msi
   date: 17-Feb-2018 16:57
   size: 2400256
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-pt_BR.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-pt_PT.msi
   date: 17-Feb-2018 16:57
   size: 1376256
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-pt_PT.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ro.msi
   date: 17-Feb-2018 16:57
   size: 1753088
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ro.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ru.msi
   date: 17-Feb-2018 16:57
   size: 1671168
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-ru.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-sk.msi
   date: 17-Feb-2018 16:57
   size: 1929216
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-sk.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-sr-latin.msi
   date: 17-Feb-2018 16:57
   size: 1667072
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-sr-latin.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-sv.msi
   date: 17-Feb-2018 16:57
   size: 2433024
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-sv.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-tr.msi
   date: 17-Feb-2018 16:57
   size: 1171456
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-tr.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-uk.msi
   date: 17-Feb-2018 16:57
   size: 1638400
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-uk.msi.rsa.asc
   date: 17-Feb-2018 16:57
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-vi.msi
   date: 17-Feb-2018 16:58
   size: 1183744
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-vi.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-zh_CN.msi
   date: 17-Feb-2018 16:58
   size: 1155072
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-zh_CN.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-zh_TW.msi
   date: 17-Feb-2018 16:58
   size: 1155072
 - file: TortoiseGit-LanguagePack-2.6.0.0-32bit-zh_TW.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-bg.msi
   date: 17-Feb-2018 16:58
   size: 1433600
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-bg.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ca.msi
   date: 17-Feb-2018 16:58
   size: 1712128
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ca.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-cs.msi
   date: 17-Feb-2018 16:58
   size: 1781760
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-cs.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-da.msi
   date: 17-Feb-2018 16:58
   size: 1810432
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-da.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-de.msi
   date: 17-Feb-2018 16:58
   size: 4231168
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-de.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-el.msi
   date: 17-Feb-2018 16:58
   size: 3035136
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-el.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-es.msi
   date: 17-Feb-2018 16:58
   size: 1458176
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-es.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-fa.msi
   date: 17-Feb-2018 16:58
   size: 1204224
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-fa.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-fi.msi
   date: 17-Feb-2018 16:58
   size: 1204224
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-fi.msi.rsa.asc
   date: 17-Feb-2018 16:58
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-fr.msi
   date: 17-Feb-2018 16:59
   size: 1503232
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-fr.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-hu.msi
   date: 17-Feb-2018 16:59
   size: 1912832
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-hu.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-id.msi
   date: 17-Feb-2018 16:59
   size: 1204224
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-id.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-it.msi
   date: 17-Feb-2018 16:59
   size: 1523712
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-it.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ja.msi
   date: 17-Feb-2018 16:59
   size: 1200128
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ja.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ko.msi
   date: 17-Feb-2018 16:59
   size: 1200128
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ko.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-nl.msi
   date: 17-Feb-2018 16:59
   size: 1810432
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-nl.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-oc.msi
   date: 17-Feb-2018 16:59
   size: 1372160
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-oc.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-pl.msi
   date: 17-Feb-2018 16:59
   size: 2265088
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-pl.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-pt_BR.msi
   date: 17-Feb-2018 16:59
   size: 2437120
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-pt_BR.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-pt_PT.msi
   date: 17-Feb-2018 16:59
   size: 1417216
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-pt_PT.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ro.msi
   date: 17-Feb-2018 16:59
   size: 1794048
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ro.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ru.msi
   date: 17-Feb-2018 16:59
   size: 1708032
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-ru.msi.rsa.asc
   date: 17-Feb-2018 16:59
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-sk.msi
   date: 17-Feb-2018 17:00
   size: 1970176
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-sk.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-sr-latin.msi
   date: 17-Feb-2018 17:00
   size: 1703936
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-sr-latin.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-sv.msi
   date: 17-Feb-2018 17:00
   size: 2465792
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-sv.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-tr.msi
   date: 17-Feb-2018 17:00
   size: 1208320
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-tr.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-uk.msi
   date: 17-Feb-2018 17:00
   size: 1675264
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-uk.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-vi.msi
   date: 17-Feb-2018 17:00
   size: 1220608
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-vi.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-zh_CN.msi
   date: 17-Feb-2018 17:00
   size: 1183744
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-zh_CN.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-zh_TW.msi
   date: 17-Feb-2018 17:00
   size: 1191936
 - file: TortoiseGit-LanguagePack-2.6.0.0-64bit-zh_TW.msi.rsa.asc
   date: 17-Feb-2018 17:00
   size: 836
---
